body {
	background: #f1f1f1;
}
.modal-header {
	background: #015baa;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	color: #fff;
}
.storeInformationText {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}
.storeInformationTitle {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #005baa;
}
.blueBtn {
	background: #005baa;
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
}
.tax {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #55677a;
}
.blueOutlineBtn {
	font-size: .8rem;
	width: 10rem;
	border-color: #005baa;
	color: #005baa;
	&:hover {
		font-size: .8rem;
		width: 10rem;
		background: #005baa;
	}
}
.taxPrice {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #005baa;
}
.deliveryFree {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #a7aeb7;
}
.btn {
	&:hover {
		color: #fff;
	}
}
.plasticBag {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #a7aeb7;
}
.deliveryFreePrice {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #005baa;
}
.specialDiscount {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #7bc952;
}
.plasticBagFreePrice {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #005baa;
}
hr {
	color: #e5e5e5;
}
.summaryOrder {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #005baa;
}
.itemsInCart {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #005baa;
}
.continue {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
}
.fade {
	background-color: #000000cf;
}
.selectedButton {
	background: #7bc952;
}
.check-icon {
	width: 24px;
	margin-bottom: 7px;
	color: #fff;
	filter: invert(100%);
}
.check-icon-modal {
	width: 15px;
	margin-bottom: 17px;
}
.custom-radios {
	input[type=radio] {
		&:checked+label {
			span {
				img {
					opacity: 1;
				}
				background-color: #2ecc71;
				border: 2px solid #fff;
			}
		}
		display: none;
	}
	text-align: center;
	text-align: center;
	margin-left: -15px;
	margin-top: 10px;
	input[type=radio]+label {
		color: #333;
		font-family: Arial,sans-serif;
		font-size: 14px;
		span {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #bbdbf8;
			box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;
			line-height: 44px;
			img {
				opacity: 0;
				transition: all .3s ease;
			}
		}
	}
}
.storeList {
	height: 15rem;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: .5rem;
}
.custom-radios-modal {
	input[type=radio]+label {
		span {
			width: 30px;
			height: 30px;
		}
	}
}
.address {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #55677a;
}
.selectedCard {
	border-color: #7bc952;
}
.editDelete {
	a {
		text-decoration: none;
		font-size: 14px;
		font-family: Nunito;
		font-style: normal;
		font-weight: 400;
	}
}
.titleAddress {
	color: #025baa;
	font-size: 14px;
}
.phoneNumber {
	color: #025baa;
	font-size: 14px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
}
.card {
	min-height: 13rem;
}
.adressInfo {
	color: #025baa;
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
}
.nav.nav-tabs {
	box-shadow: 0 0 30px rgba(0,0,0,.1);
}
.tab-content {
	border-radius: 0 0 6px 6px;
}
.nav-link.active {
	color: #025baa !important;
	background: #fff !important;
}
.nav-link {
	background: #ebeae8 !important;
	color: #666 !important;
}
.stepper {
	display: flex;
	padding: 0;
	list-style: none;
	position: relative;
	margin: 0;
	&::before {
		position: absolute;
		top: 0;
		left: 5px;
		height: 100%;
		content: "";
		width: calc(100% - 20px);
		background: #083c76;
	}
}
.stepper__item {
	color: #6aa2dd;
	flex: 100%;
	padding: 20px 20px 20px 40px;
	background-color: #0e4681;
	margin: 0 0 0 -17px;
	-webkit-clip-path: polygon(20px 50%,0 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,0 100%);
	&:first-child {
		border-radius: 5px 0 0 5px;
		padding: 20px;
		-webkit-clip-path: polygon(0 0,calc(100% - 20px) 0,100% 50%,calc(100% - 20px) 100%,0 100%);
		margin: 0;
	}
	&:last-child {
		border-radius: 0 5px 5px 0;
		-webkit-clip-path: polygon(20px 50%,0 0,100% 0,100% 100%,0 100%);
	}
}
.stepper__item.current {
	background: #165ba9;
	font-weight: 700;
	color: #fff;
}
.numberCircle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 1px 4px 1px 4px;
	margin: 4px 5px 5px 5px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: #256299;
}
.currentCircle {
	background: #0e4681;
	font-weight: 700;
}
.addressTitle {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #666;
}
.deliveryTitle {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #005baa;
}
